main {
	width: 600px;
	margin: auto;
	padding: 0.5rem;
	box-sizing: border-box;
}

section {
	margin-block: 2rem;
}

label > span {
	display: inline-block;
	padding-right: 1rem;
}

#inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

button {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
}
